<?xml version="1.0"?>
<config>
    <modules>
        <Dnk_Sendsms>
            <version>0.1.0</version>
        </Dnk_Sendsms>
    </modules>
    <global>
        <helpers>
            <sendsms>
            <class>Dnk_Sendsms_Helper</class>
            </sendsms>
        </helpers>
        <models>
            <sendsms>
                <class>Dnk_Sendsms_Model</class>
            </sendsms>
       </models>
       <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <giftease_sendsms>
                        <type>singleton</type>
                        <class>sendsms/observer</class>
                        <method>sendSmsToCustomer</method>
                    </giftease_sendsms>
                </observers>
            </checkout_onepage_controller_success_action>
            <!--<sales_order_payment_after>
                <observers>
                    <Dnk_sendsms_for_order_place>
                        <type>singleton</type>
                        <class>sendsms/observer</class>
                        <method>sendSmsToCustomerForOrderPlace</method>
                    </Dnk_sendsms_for_order_place>
                </observers>
            </sales_order_payment_after>
			-->
            <sales_order_shipment_save_commit_after>
                <observers>
                    <Dnk_sendsms_shipment>
                      <type>singleton</type>
                      <class>sendsms/observer</class>
                      <method>sendShipmentSmsToCustomer</method>
                    </Dnk_sendsms_shipment>
                </observers>
            </sales_order_shipment_save_commit_after>
			<order_cancel_after>
                <observers>
                    <dnk_sendsms_order_cancel>
                      <type>singleton</type>
                      <class>sendsms/observer</class>
                      <method>sendOrderCancelSmsToCustomer</method>
                    </dnk_sendsms_order_cancel>
                </observers>
            </order_cancel_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <!-- <sales_order_place_after>
                    <observers>
                        <Dnk_sendsms_fromadmin>
                            <type>singleton</type>
                            <class>sendsms/observer</class>
                            <method>sendSmsToCustomerForadminOrder</method>
                        </Dnk_sendsms_fromadmin>
                    </observers>
            </sales_order_place_after>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <Dnk_sendsms_deliverydate_admin>
                      <type>singleton</type>
                      <class>sendsms/observer</class>
                      <method>getPreferredDeliveryDateAdmin</method>
                    </Dnk_sendsms_deliverydate_admin>
                </observers>
            </adminhtml_sales_order_create_process_data> -->
        </events>
    </adminhtml>
     <!-- <frontend>
       <events>
           <sales_quote_save_after>
                <observers>
                    <Dnk_sendsms_deliverydate>
                      <type>singleton</type>
                      <class>sendsms/observer</class>
                      <method>getPreferredDeliveryDate</method>
                    </Dnk_sendsms_deliverydate>
                </observers>
            </sales_quote_save_after>
        </events>
    </frontend> -->
</config>