<?xml version="1.0"?>
<config>
  <modules>
    <Dnk_Stone>
      <version>0.1.0</version>
    </Dnk_Stone>
  </modules>
  <global>
    <helpers>
      <stone>
        <class>Dnk_Stone_Helper</class>
      </stone>
    </helpers>
	<blocks>
	  <stone>
		<class>Dnk_Stone_Block</class>
	  </stone>
	</blocks>
	<models>
	  <stone>
		<class>Dnk_Stone_Model</class>
		<resourceModel>stone_mysql4</resourceModel>
	  </stone>
	  <stone_mysql4>
		<class>Dnk_Stone_Model_Mysql4</class>
		<entities>		  
			  <stones>
				<table>stones</table>
			  </stones>
        </entities>
	  </stone_mysql4>
	</models>
	<resources>
	  <stone_setup>
		<setup>
		  <module>Dnk_Stone</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </stone_setup>
	  <stone_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </stone_write>
	  <stone_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </stone_read>
	  <catalog_product1419870507_setup>
		<setup>
		  <module>Dnk_Stone</module>
		  <class>Mage_Eav_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </catalog_product1419870507_setup>
	  <catalog_product1419870507_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </catalog_product1419870507_write>
	  <catalog_product1419870507_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </catalog_product1419870507_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <stone>
	    <use>admin</use>
		<args>
		  <module>Dnk_Stone</module>
		  <frontName>admin_stone</frontName>
		</args>
	  </stone>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <dnj>
		<children>
		  <stones module="stone">
		    <title>Manage Stones</title>
			<sort_order>0</sort_order>
			<action>admin_stone/adminhtml_stones</action>
		  </stones>
		</children>
	  </dnj>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<stone translate="title" module="stone">
			  <title>Stone</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <stones translate="title">
			<title>Manage Stones</title>
			<sort_order>0</sort_order>
		  </stones>
			  </children>
			</stone>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<stone>
		  <file>stone.xml</file>
		</stone>
	  </updates>
	</layout>
		<events>
            <admin_system_config_changed_section_gold>
                <observers>
                    <change_in_gold_rates>
                        <type>singleton</type>
                        <class>stone/observer</class>
                        <method>changeInGoldRates</method>
                    </change_in_gold_rates>
                </observers>
            </admin_system_config_changed_section_gold>
        </events>
  </adminhtml>
</config> 