<?xml version="1.0"?>
<config>
    <modules>
        <Dnk_CustomCatalog>
            <version>0.1.1</version>
        </Dnk_CustomCatalog>
    </modules>
    <global>
        <blocks>
            <customcatalog>
				<class>Dnk_CustomCatalog_Block</class>
                <rewrite>
                    <product_view_type_configurable>Dnk_CustomCatalog_Block_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </customcatalog>
        </blocks>
		<models>
			<customcatalog>
				<class>Dnk_CustomCatalog_Model</class>
			</customcatalog>
		</models>
		<helpers>
			<customcatalog>
				<class>Dnk_CustomCatalog_Helper</class>
			</customcatalog>
		</helpers>
		<events>
            <checkout_cart_product_add_after>
                <observers>
                    <set_custom_price>
                        <class>customcatalog/observer</class>
                        <method>modifyPrice</method>
                    </set_custom_price>
                </observers>
            </checkout_cart_product_add_after>
		</events>
    </global>
	<admin>
		<routers>
			<customcatalog>
				<use>admin</use>
				<args>
					<module>Dnk_CustomCatalog</module>
					<frontName>admin_customcatalog</frontName>
				</args>
			</customcatalog>
			<adminhtml>
				<args>
					<modules>
						<Dnk_CustomCatalog before="Mage_Adminhtml">Dnk_CustomCatalog_Adminhtml</Dnk_CustomCatalog>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<customcatalog>
					<file>dnk_customcatalog.xml</file>
				</customcatalog>
			</updates>
		</layout>
		<events>
            <catalog_product_prepare_save>
                <observers>
                    <customcatalog_save_product_rates>
                        <type>singleton</type>
                        <class>customcatalog/observer</class>
                        <method>catalogProductPrepareSave</method>
                    </customcatalog_save_product_rates>
                </observers>
            </catalog_product_prepare_save>
			<catalog_product_save_commit_after>
                <observers>
                    <customcatalog_save_product_rates_after>
                        <type>singleton</type>
                        <class>customcatalog/observer</class>
                        <method>catalogProductAfterSave</method>
                    </customcatalog_save_product_rates_after>
                </observers>
            </catalog_product_save_commit_after>
            <catalog_model_product_duplicate>
                <observers>
                    <customcatalog_copy_product_rates>
                        <type>singleton</type>
                        <class>customcatalog/observer</class>
                        <method>catalogModelProductDuplicate</method>
                    </customcatalog_copy_product_rates>
                </observers>
            </catalog_model_product_duplicate>
        </events>
	</adminhtml>
</config>