<?xml version="1.0"?>
<config>
  <modules>
    <Dnk_Certificates>
      <version>0.1.0</version>
    </Dnk_Certificates>
  </modules>
  <global>
    <helpers>
      <certificates>
        <class>Dnk_Certificates_Helper</class>
      </certificates>
    </helpers>
	<blocks>
	  <certificates>
		<class>Dnk_Certificates_Block</class>
	  </certificates>
	</blocks>
	<models>
	  <certificates>
		<class>Dnk_Certificates_Model</class>
		<resourceModel>certificates_mysql4</resourceModel>
	  </certificates>
	  <certificates_mysql4>
		<class>Dnk_Certificates_Model_Mysql4</class>
		<entities>		  
			  <certificates>
				<table>certificates</table>
			  </certificates>
        </entities>
	  </certificates_mysql4>
	</models>
	<resources>
	  <certificates_setup>
		<setup>
		  <module>Dnk_Certificates</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </certificates_setup>
	  <certificates_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </certificates_write>
	  <certificates_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </certificates_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <certificates>
	    <use>admin</use>
		<args>
		  <module>Dnk_Certificates</module>
		  <frontName>admin_certificates</frontName>
		</args>
	  </certificates>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <dnj>
		<children>
		  <certificates module="certificates">
		    <title>Manage Certificates</title>
			<sort_order>0</sort_order>
			<action>admin_certificates/adminhtml_certificates</action>
		  </certificates>
		</children>
	  </dnj>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<certificates translate="title" module="certificates">
			  <title>Certificates</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <certificates translate="title">
			<title>Manage Certificates</title>
			<sort_order>0</sort_order>
		  </certificates>
			  </children>
			</certificates>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<certificates>
		  <file>certificates.xml</file>
		</certificates>
	  </updates>
	</layout>
  </adminhtml>
</config> 