<?xml version="1.0"?>
<config>
  <modules>
    <Dnk_Sizes>
      <version>0.1.0</version>
    </Dnk_Sizes>
  </modules>
  <global>
    <helpers>
      <sizes>
        <class>Dnk_Sizes_Helper</class>
      </sizes>
    </helpers>
	<blocks>
	  <sizes>
		<class>Dnk_Sizes_Block</class>
	  </sizes>
	</blocks>
	<models>
	  <sizes>
		<class>Dnk_Sizes_Model</class>
		<resourceModel>sizes_mysql4</resourceModel>
	  </sizes>
	  <sizes_mysql4>
		<class>Dnk_Sizes_Model_Mysql4</class>
		<entities>		  
			  <sizes>
				<table>sizes</table>
			  </sizes>
        </entities>
	  </sizes_mysql4>
	</models>
	<resources>
	  <sizes_setup>
		<setup>
		  <module>Dnk_Sizes</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </sizes_setup>
	  <sizes_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </sizes_write>
	  <sizes_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </sizes_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <sizes>
	    <use>admin</use>
		<args>
		  <module>Dnk_Sizes</module>
		  <frontName>admin_sizes</frontName>
		</args>
	  </sizes>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <dnj>
		<children>
		  <sizes module="sizes">
		    <title>Manage Sizes</title>
			<sort_order>0</sort_order>
			<action>admin_sizes/adminhtml_sizes</action>
		  </sizes>
		</children>
	  </dnj>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<sizes translate="title" module="sizes">
			  <title>Sizes</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <sizes translate="title">
			<title>Manage Sizes</title>
			<sort_order>0</sort_order>
		  </sizes>
			  </children>
			</sizes>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<sizes>
		  <file>sizes.xml</file>
		</sizes>
	  </updates>
	</layout>
  </adminhtml>
</config> 